.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  width: 340px;
  margin: auto;
}

.column {
  border: 1px solid gray;
  padding: 2px;
  border-radius: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: calc(30px * 4 + 40px);
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  cursor: pointer;
  flex: 0 0 30px;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-gap: 10px;
  padding: 20px;
  width: 340px;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin: 5px 0;
}

.btn {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 5px;
  background-color: transparent;
  color: #cccccc;
  cursor: pointer;
}

.btn:first-child {
  margin-left: 0;
}

label {
  color: #ccc;
}

#state {
  font-size: 16px;
  width: 100%;
  flex: 0 0 80px;
  margin: 5px 0 0 0;
}

.error {
  color: red;
  margin: 2px 0 2px 0;
}
