:root {
  --ball-color-0: red;
  --ball-color-1: darkgreen;
  --ball-color-2: blue;
  --ball-color-3: orange;
  --ball-color-4: cyan;
  --ball-color-5: pink;
  --ball-color-6: lime;
  --ball-color-7: lightblue;
  --ball-color-8: brown;
  --ball-color-9: yellow;
  --ball-color-10: gray;
  --ball-color-11: purple;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
  width: 340px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column {
  border: 1px solid gray;
  padding: 2px;
  border-radius: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(0, 0, 0, .1);
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: calc(30px * 4 + 40px);
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  cursor: pointer;
  flex: 0 0 30px;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-gap: 10px;
  padding: 20px;
  width: 340px;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.btn {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 5px;
  background-color: transparent;
  color: #cccccc;
  cursor: pointer;
}

.btn:first-child {
  margin-left: 0;
}

label {
  color: #ccc;
}

#state {
  font-size: 16px;
  width: 100%;
  flex: 0 0 80px;
  margin: 5px 0;
}
