:root {
    --width: 300px;
    --ball-size: 26px;
    --ball-gap: 1px;
}

.App {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: calc(100vh - 20px);
    padding: 10px 0;
    width: var(--width);
    margin: auto;
}

.column {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: calc((var(--ball-size) + var(--ball-gap) + 2px) * 4 + var(--ball-size));
}

.ball {
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--ball-gap);
    cursor: pointer;
    flex: 0 0 var(--ball-size);
    height: var(--ball-size);
    width: var(--ball-size);
}

.game-field {
    display: grid;
    grid-template-columns: repeat(7, calc(var(--ball-size) + 10px));
    grid-gap: 8px;
    padding: 10px 0px;
    width: var(--width);
    margin: 0;
    user-select: none;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 36px;
    user-select: none;
}

.btn {
    user-select: none;
    height: 36px;
    padding: 5px 10px;
    font-size: 16px;
    margin-left: 5px;
    background-color: transparent;
    color: #cccccc;
    cursor: pointer;
}

.btn:first-child {
    margin-left: 0;
}

textarea {
    font-size: 16px;
    width: 100%;
    flex: 0 0 80px;
}

.error {
    color: red;
    margin: 2px 0 2px 0;
}

.label {
    align-self: flex-start;
    color: #ccc;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.label > input[type=checkbox] {
    margin: 6px;
    width: 18px;
    height: 18px;
}

.moves {
    user-select: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: -15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.moves > div > span {
    color: #ccc;
}

a {
    color: dodgerblue;
}

.column.valid {
    /*box-shadow: 0 0 4px lightgreen;*/
    /*border: 1px solid lightgreen;*/
}

.gameover {
    position: fixed;
    top: 150px;
    margin: 0 -5px;
    width: calc(var(--width) + 10px);
    height: 150px;
    border: 1px solid #777;
    background-color: #282c34e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    color: gold;
    text-shadow: 1px 1px 2px gold;
    transform: scale(0);
    transition: all .25s ease-in;
}

.gameover div {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.gameover.show {
    transform: scale(1);
}
